.header__info {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  font-size: 4rem;
}

@media (max-width: 670px) {
  .header__info {
    font-size: 2rem;
    text-align: center;
    display: block;
  }
}
