.question-block {
  color: white;
  padding: 20px;
  display: grid;
  border-radius: 10px;
  background-color: #2b8091;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  border: 2px solid #0e385b;
}

.question-block p {
  text-align: left;
  font-size: 3rem;
}

@media (max-width: 400px) {
  .rhap_controls-section {
    text-align: center;
    justify-content: center;
  }
  .rhap_volume-controls {
    display: none;
  }
}

hr {
  background-color: white;
  height: 1px;
  width: 100%;
  border-radius: 10px;
}

.question-block__source {
  display: flex;
  flex-direction: column;
  outline: none !important;
}

.question-block__img img {
  text-align: center;
  border-radius: 10px;
  height: 100%;
  width: 280px;
  height: 200px;
}
.rhap_container {
  outline: none;
  margin-top: 20px;
  border-radius: 10px;
}

.rhap_progress-container {
  outline: none;
}

@media (max-width: 800px) {
  .question-block__img {
    text-align: center;
  }
  .question-block {
    display: block;
  }
  .rhap_horizontal {
    flex-direction: column;
  }
  .rhap_controls-section {
    width: 80%;
  }
  .question-block__img img {
    width: 200px;
    height: 150px;
  }
  .question-block p {
    text-align: center;
  }
}
